<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>
<body>
    <form action="query">
        <div>
            <label for="azione">Scegli la query da eseguire</label>
            <select name="azione" id="">
                <option value="" selected>Scegli un opzione</option>
                <option value="assenza">Vedi assenze</option>
                <option value="attivitanonprogettuale">Vedi attivita non progettuali</option>
                <option value="attivitaprogetto">Vedi attivita progettuali</option>
                <option value="persona">Vedi persone</option>
                <option value="progetto">Vedi progetti</option>
                <option value="wp">Vedi WP</option>
            </select>
            <input type="submit" value="invio">
        </div>
    </form>
</body>
</html>